<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/laravel?useSSL=false</property>
        <property name="hibernate.connection.username">sail</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.internal.jta.JtaPlatformProvider</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="prueba/Meetings.hbm.xml"/>
        <mapping resource="prueba/Schedules.hbm.xml"/>
        <mapping resource="prueba/Participants.hbm.xml"/>
        <mapping resource="prueba/Courses.hbm.xml"/>
        <mapping resource="prueba/Documents.hbm.xml"/>
        <mapping resource="prueba/Enrollments.hbm.xml"/>
        <mapping resource="prueba/Modules.hbm.xml"/>
        <mapping resource="prueba/Roles.hbm.xml"/>
        <mapping resource="prueba/Cycles.hbm.xml"/>
        <mapping resource="prueba/Users.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
